/* =============== */
/* GENERAL */
/* =============== */

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Lato', 'Arial', sans-serif;
  color: #1a1a1a;
  background-color: #f0f3f6;
}

/* =============== */
/* NAV */
/* =============== */

ul.nav-items > li {
  display: inline-block;
  list-style: none;
}

ul li {
  display: inline-block;
}

/* FLEX Container */
.nav-container {
  width: 75%;
  margin: auto;
  padding: 10px;
  display: flex;
  align-items: center;
}

/* Nested Flex Container */
/* To move the nav links to the right (end) of the initial flex container */
.nav-items {
  display: flex;
  flex: 1;
  font-size: 1.3rem;
  font-weight: 400;
  justify-content: flex-end;
}

nav a {
  transition: color 0.2s ease;
}

ul.nav-items a {
  margin-left: 50px;
  color: #1a1a1a;
  text-decoration: none;
}

.nav-logo {
  width: 30%;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 2.3rem;
  text-decoration: none;
  color: #145bff;
}

/* Pseudo Classes */
ul.nav-items a:hover {
  color: #145bff;
}

.nav-logo:hover {
  color: #1a1a1a;
}

/* =============== */
/* Aesthetic Elements */
/* =============== */
hr {
  width: 75%;
  margin: auto;
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* =============== */
/* MAIN CONTENT */
/* =============== */

.container {
}

img {
}
