/* =============== */
/* GENERAL */
/* =============== */

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Lato', 'Arial', sans-serif;
  color: #1a1a1a;
  background-color: #f0f3f6;
}

/* =============== */
/* NAV */
/* =============== */

nav > * {
  display: block;
  margin: 10px 0px;
}

/* FLEX Container */
#navbar {
  background: radial-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.95));
  width: 100%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 400;
}

nav a {
  font-family: 'Lobster', cursive;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-logo {
  width: 30%;
  text-align: center;
  font-size: 2.3rem;
  text-decoration: none;
  color: #145bff;
}

.cb-phrase {
  font-style: italic;
  font-size: 1rem;
  color: rgba(240, 240, 240, 0.9);
  text-align: center;
  width: 250px;
}

/* Pseudo Classes */

.nav-logo:hover {
  color: #fff;
}

/* =============== */
/* Aesthetic Elements */
/* =============== */
hr {
  width: 75%;
  margin: 20px auto 20px auto;
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 1));
}

/* =============== */
/* MAIN CONTENT */
/* =============== */

.container {
}

img {
  width: 200px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50px;
}
