/* =============== */
/* GENERAL */
/* =============== */

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Lato', 'Arial', sans-serif;
  color: #1a1a1a;
  background-color: #f0f3f6;
}

/* Flex container for all website sections */
.flex-container {
  display: flex;
  flex-direction: column;
}

header {
  order: -999;
}

/* =============== */
/* NAV */
/* =============== */

nav > * {
  display: block;
  margin: 10px 0px;
}

/* NAV FLEX Container */
#navbar {
  background: radial-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.95));
  width: 100%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 400;
}

nav a {
  font-family: 'Lobster', cursive;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-logo {
  width: 30%;
  text-align: center;
  font-size: 2.3rem;
  text-decoration: none;
  color: #145bff;
}

.cb-phrase {
  font-style: italic;
  font-size: 1rem;
  color: rgba(240, 240, 240, 0.9);
  text-align: center;
  width: 250px;
}

nav img {
  width: 175px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50px;
}

.nav-logo:hover {
  color: #fff;
}

/* =============== */
/* Aesthetic Elements */
/* =============== */
hr {
  width: 75%;
  margin: 20px auto 20px auto;
  border: none;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 1));
}

.left ul hr {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 1));
}

/* =============== */
/* MAIN CONTENT */
/* =============== */

/* Main Content Flex Container - Row */
.main-container {
  flex: 1;
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: rgb(250, 250, 250);
  border-right: 1px solid rgb(200, 200, 200);
}

.left ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.left ul li {
  margin: 30px 0px;
  text-align: center;
}

.left a {
  font-size: 2rem;
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 700;
  transition: color 0.2s ease;
}

h2 {
  color: #323b42;
  font-size: 2rem;
}

.left a:hover {
  color: #145bff;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.right h1 {
  margin: 30px 0px 0px;
}

.featured-work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.project {
  display: inline-block;
  padding: 20px;
  flex: 1;
}

.project h2 {
  font-size: 2rem;
  font-weight: 300;
}

.project img {
  width: 300px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgb(170, 170, 170);
}

/* Add SVG icons before my page links  */
.github:before {
  background-image: url(../img/github.svg);
  background-size: 25px 25px;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  display: inline-block;
  content: "";
}

.linkedin:before {
  background-image: url(../img/linkedin.svg);
  background-size: 25px 25px;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  display: inline-block;
  content: "";
}

/* =============== */
/* FOOTER CONTENT */
/* =============== */

footer {
  flex-basis: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid rgb(200, 200, 200);
  order: 999;
}

footer p {
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
  margin: 10px 0px;
  padding: 0;
}
